<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conlog.review.model.dao.ReviewMapper">

    <resultMap id="reviewResultMap" type="com.conlog.review.model.dto.ReviewDTO">
        <id property="reviewNo" column="REVIEW_NO"/>
        <result property="reviewDate" column="REVIEW_DATE"/>
        <result property="reviewScore" column="REVIEW_SCORE"/>
        <result property="reviewContent" column="REVIEW_CONTENT"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="contentsNo" column="CONTENTS_NO"/>
    </resultMap>

    <!-- 내가 작성한 REVIEW 목록 전체 조회 -->
    <select id="selectAllMyReview" parameterType="_int" resultMap="reviewResultMap">
        SELECT
               *
          FROM REVIEW
         WHERE MEMBER_NO = #{ myMemberNo }
    </select>

</mapper>